header h1 {
    float: left;
    color: rosybrown;
    background-color: white;
}

img {
    float: right;
    width: 100px;
}

header p,
header h2 {
    float: right;
}

header h2 {
    color: rosybrown;
}

header p {
    clear: left;
    clear: right;
}

h1,
h2 {
    font-weight: bold;
}

h2 {
    color: rosybrown;
    font-size: 13px;
}

p,
li {
    font-size: 9px;
}


section h1 {
    display: block;
    background-color: rosybrown;
    color: white;
}

section h2 {
    text-decoration-line: underline;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#section1,
#section2,
#section3 {
    clear: left;
    display: flex;
}

div {
    margin: 10px;
}

p,
li {
    margin-top: 0px;
    padding-top: 0px;
}
